Source: python-bottle
Section: python
Priority: optional
Maintainer: David Paleino <dapal@debian.org>
Uploaders: Federico Ceratto <federico.ceratto@gmail.com>
Build-Depends: debhelper (>= 7.0.8),
 python-support,
 python (>= 2.5)
Standards-Version: 3.8.3
Homepage: http://bottle.paws.de/
XS-Python-Version: >=2.5, >=3.1

Package: python-bottle
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
XB-Python-Version: ${python:Versions}
Description: fast and simple WSGI-framework for Python
 Bottle is a fast and simple WSGI-framework for the Python programming
 language. It offers request dispatching with url parameter support
 (routes), templates, key/value databases, a built-in HTTP server and
 adapters for many third party WSGI/HTTP-server and template engines.
